@import '../../style/variables';
@import '../../style/colors';

.container {
  background-color: var(--ace-container-background);
  font: 13px/20px Roboto, sans-serif;
  color: var(--mui-palette-text-primary);
  height: 100%;
  display: flex;
}

.left {
  display: none;
  @media @desktop {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 0 0 @sidebar-width;
  }
}
.right {
  flex: 1;
  min-width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

&.playlist-mode {
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }
  .right {
    display: none;
  }
}