{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "rules": {
    "default-param-last": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-return-assign": 0,
    "func-names": 0,
    "import/prefer-default-export": 0,
    "comma-dangle": ["error", "never"],
    "jsx-quotes": [2, "prefer-single"],
    "max-len": ["error", 120],
    "no-console": 1
  }
}
