VITE_WEB_URL= # Site address http://example.org
VITE_API_URL= # API base url
VITE_OG_TITLE= # OpenGraph title
VITE_OG_DESCRIPTION= # OpenGraph description
VITE_TG_LINK= # Telegram link
VITE_GH_LINK= # Github link
VITE_EMAIL_ADDRESS= # Email address
VITE_YM_ACCOUNT_ID= # Yandex.Metrika account ID
