WEB_URL= # Site address http://example.org
API_URL= # API base url
OG_TITLE= #OpenGraph title
OG_DESCRIPTION= # OpenGraph description
TG_LINK= # Telegram link
GH_LINK= # Github link
EMAIL_ADDRESS= # Email address
YM_ACCOUNT_ID= # Yandex.Metrika account ID
