@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/colors';

.postarea {
  position: relative;
  flex: 0 0 auto;
  padding: 8px;

  &--log {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border-left();

  textarea {
    font:
      13px/20px Roboto,
      sans-serif;
    color: var(----mui-palette-text-primary);
    background-color: transparent;
    display: block;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
    outline: 0;
    margin: 0 8px;
    align-self: center;

    &::placeholder {
      color: var(--ace-placeholder-color);
    }
  }

  &__paper {
    display: flex;
    color: var(----mui-palette-text-primary);
    padding: 8px 12px 8px 8px;
  }
  &__avatar {
    align-self: flex-end;
    margin: -5px;
  }
  &__button {
    position: relative;
    align-self: flex-end;
    width: 36px;
    height: 36px;
    color: var(----mui-palette-text-primary);
  }
}
