@import '../../style/mixins';
@import '../../style/variables';
@import '../../style/colors';

.message {
  .clearfix();
  padding: 4px @edge-padding  4px 12px; // left less due to avatar  border
  border-radius: 0 4px 4px 0;

  .preview & {
    padding: 8px @edge-padding;
  }
  &:hover {
    background-color: var(--ace-message-hover-bg);
  }

  &__avatar {
    float: left;
    margin: -5px; // compensate IconButton padding
  }

  &__id {
    color: var(--ace-message-id-color);
    cursor: pointer;
    font-weight: 500;
  }

  &__personal-flag {
    color: var(--mui-palette-text-secondary);
  }

  &__time {
    float: right;
    color: var(--mui-palette-text-secondary);
  }

  &__text {
    overflow-wrap: break-word;
    white-space: pre-line;
    max-height: 80px;
    overflow: hidden;
    .strong {
      font-weight: bold;
    }
    .emph {
      font-style: italic;
    }
    .strike {
      text-decoration: line-through;
    }
    .spoiler {
      background-color: @grey800;
      &,
      a {
        color: @grey800;
      }
      &:hover {
        color: white;
        a {
          color: white;
        }
      }
    }
    .quote {
      color: #789922;
    }
  }

  &__id-wrapper,
  &__text,
  .attachment,
  &__read-more,
  &__replies {
    margin-left: @avatar-size + @edge-padding;
  }

  &__read-more {
    display: block;
  }

  &__replies {
    font-size: 11px;
    a {
      margin-left: 5px;
    }
  }

  &--selected:not(&--personal) {
    background-color: var(--ace-message-selected-bg);
    .dark & {
      &,
      .message__id,
      .message__time,
      a,
      .fileinfo {
        color: var(--mui-palette-primary-contrastText);
      }
    }
  }

  &--personal {
    background-color: var(--ace-message-personal-bg);
    .dark & {
      .message__id,
      a {
        color: var(--mui-palette-primary-contrastText);
      }
    }
    &:hover {
      background-color: var(--ace-message-personal-hover-bg);
    }
  }
}
