.attachment {
  &--image {
    position: relative;
    img {
      display: block;
      border-radius: 4px;
      cursor: pointer;
      max-width: 100%;
    }
    .attachment__spinner {
      position: absolute;
      height: 40px;
      width: 40px;
    }
  }
  &__fileinfo {
    font-size: 11px;
    color: var(--mui-palette-text-secondary);
  }
}
