.preview {
  z-index: 100;
  top: -9999;
  left: -9999;
  position: fixed;
  min-width: 300px;
  max-width: 500px;

  &__placeholder {
    padding: 16px;
    text-align: center;
  }
  &__paper {
    background-color: var(--ace-message-preview-bg);
  }
}
.preview-enter {
  opacity: 0;
}
.preview-enter.preview-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}
.preview-exit {
  opacity: 1;
}
.preview-exit.preview-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}