.self-avatar {
  &__skeleton {
    width: 36px;
    height: 36px;
  }

  &__spinner {
    position: absolute;
    inset: 5px;
  }
}

.avatar-editor {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__zoom {
    width: 256px;
    max-width: 100%;
  }
}
