@import '../../style/variables';
@import '../../style/colors';

.right-header {
  // Clip shadow on left edge, keep it visible on bottom
  clip-path: inset(0 0 -20px 0);

  &__playlist-mode-switch {
    @media @desktop {
      display: none !important;
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
  }
}

.topic,
.online {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.topic {
  font-weight: 500;
}
.online {
  color: var(--ace-online-color);
}
