.attachment--youtube {
  position: relative;
  img {
    height: 150px;
    display: block;
    border-radius: 4px;
    cursor: pointer;
  }
  iframe {
    display: block;
  }
  .attachment__icon {
    position: absolute;
    top: 51px;
    left: 76px;
  }
}