@transparent: rgba(0, 0, 0, 0);
@fullBlack: rgba(0, 0, 0, 1);
@darkBlack: rgba(0, 0, 0, 0.87);
@lightBlack: rgba(0, 0, 0, 0.54);
@minBlack: rgba(0, 0, 0, 0.26);
@faintBlack: rgba(0, 0, 0, 0.12);
@fullWhite: rgba(255, 255, 255, 1);
@darkWhite: rgba(255, 255, 255, 0.87);
@lightWhite: rgba(255, 255, 255, 0.54);
@faintWhite: rgba(255, 255, 255, 0.12);

@grey50:  #FAFAFA;
@grey100: #F5F5F5;
@grey200: #EEEEEE;
@grey300: #E0E0E0;
@grey400: #BDBDBD;
@grey500: #9E9E9E;
@grey600: #757575;
@grey700: #616161;
@grey800: #424242;
@grey900: #212121;

@blue50: #E3F2FD;
@blue100: #BBDEFB;
@blue200: #90CAF9;
@blue300: #64B5F6;
@blue400: #42A5F5;
@blue500: #2196F3;
@blue600: #1E88E5;
@blue700: #1976D2;
@blue800: #1565C0;
@blue900: #0D47A1;
@blueA100: #82b1ff;
@blueA200: #448aff;
@blueA400: #2979ff;
@blueA700: #2962ff;

@blueGrey50: #eceff1;
@blueGrey100: #cfd8dc;
@blueGrey200: #b0bec5;
@blueGrey300: #90a4ae;
@blueGrey400: #78909c;
@blueGrey500: #607d8b;
@blueGrey600: #546e7a;
@blueGrey700: #455a64;
@blueGrey800: #37474f;
@blueGrey900: #263238;

@deepOrange50: #fbe9e7;
@deepOrange100: #ffccbc;
@deepOrange200: #ffab91;
@deepOrange300: #ff8a65;
@deepOrange400: #ff7043;
@deepOrange500: #ff5722;
@deepOrange600: #f4511e;
@deepOrange700: #e64a19;
@deepOrange800: #d84315;
@deepOrange900: #bf360c;
@deepOrangeA100: #ff9e80;
@deepOrangeA200: #ff6e40;
@deepOrangeA400: #ff3d00;
@deepOrangeA700: #dd2c00;

@green50: #e8f5e9;
@green100: #c8e6c9;
@green200: #a5d6a7;
@green300: #81c784;
@green400: #66bb6a;
@green500: #4caf50;
@green600: #43a047;
@green700: #388e3c;
@green800: #2e7d32;
@green900: #1b5e20;
@greenA100: #b9f6ca;
@greenA200: #69f0ae;
@greenA400: #00e676;
@greenA700: #00c853;

@red50: #FFEBEE;
@red100: #FFCDD2;
@red200: #EF9A9A;
@red300: #E57373;
@red400: #EF5350;
@red500: #F44336;
@red600: #E53935;
@red700: #D32F2F;
@red800: #C62828;
@red900: #B71C1C;
@redA100: #FF8A80;
@redA200: #FF5252;
@redA400: #FF1744;
@redA700: #D50000;
