@import '../../style/variables';

.admin-login {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    margin-left: auto;
    color: var(--mui-palette-primary-contrastText);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
  }

  &__field {
    width: 100%;
  }

  &__actions {
    padding: 8px 24px 16px;
  }
}
