@import '../../style/variables';

.MuiDrawer-paper {
  background-image: none; // inconsistent background paper/datepicker
}
.log-picker {
  @media @desktop {
    overflow: hidden;
    max-width: 400px;
    transition: max-width 225ms cubic-bezier(0, 0, 0.2, 1);

    &--closed {
      max-width: 0;
      transition: max-width 195ms cubic-bezier(0.4, 0, 0.6, 1);
    }

    .MuiDrawer-paper {
      position: relative;
    }
  }
}
